@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  background: url(../img/bg-site.png) #f7f7f7;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
  margin-bottom:50px;
}

.wrapper, .main-container-bg {
  min-height: 100vh;
	position: relative;
}

.main-footer {
  padding: 0 10px;
  background-color: #1abc9c;
}

.logo {
  padding: 18px 13px;
  width: 250px;
  position: absolute;
  top: -7px;
  z-index: 1000;
}

.dropdown>a {
  padding-right: 70px !important;
}

.avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 15px;
}

.avatar img {
  height: 40px;
  transform: translateX(-19%);
}

.navbar {
  border: none;
  margin: 0;
  background-color: #1abc9c;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #18a78a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.main-container-bg {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.main-container-bg-site, .main-container-bg {
  padding-bottom:120px;
}

.main-container {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
}

.home-main-container, .profile-main-container, .faq-main-container {
  padding: 2em;
  text-align: center;
}

.title {
  font-size: 6em;
  color: #1abc9c;
  padding-bottom: 60px;
  text-shadow: 2px 2px #34495e;
  font-weight: bold;
}

.faq {
  margin-bottom: 0.5em;
}

.signup {
  padding-bottom: 20px;
}

.location-form {
  background: rgba(26, 188, 156, 0.5);
  display: inline-block;
  width: 95.8%;
  font-size: 2em;
  overflow: hidden;
  padding: 20px;
}

.location-form label {
  width: 100%;
  float: left;
  text-align: left;
  color: #fff;
}

.location-form input, .button button {
  width: 100%;
  font-size: 1em;
}

.labels-div {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
  float: left;
  margin-top: 11px;
}

.button {
  display: inline-block;
  width: 25%;
  padding: 10px;
  float: left;
}

.button button {
  height: 54px;
  border: none;
  border-radius: 3px;
  background-color: #f39c12;
  color: #fff;
}

.super-logo-container {
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.super-logo {
  width: 21%;
  margin: 10px 2%;
  float: left;
}

.super-logo img {
  width: 100%;
}

.acc-profile-pic {
  width: 100%;
}

/* Start of SignUp Form */
.signup-form input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea{
  font-weight: lighter;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 2px rgba(204,204,204,.3) inset;
  box-shadow: 1px 2px 2px rgba(204,204,204,.3) inset;
  padding: 9px 7px;
  width: 100%;
  font-size: 0.75em;
}

fieldset{
  border: none;
  padding: 0;
}

.signup-main-container{
  max-width: 1200px;
  margin: auto;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.signup-subtitle {
  font-size: 3em;
  color: #1abc9c;
  padding-bottom: 20px;
  text-shadow: 0px 1px #34495e;
}

.signup-form ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.signup-form ul li{
  margin-bottom: 20px;
}

.signup-form button{
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  background-color: #f39c12;
  color: #fff;
}

.signup-text-box{
  text-align: center;
  padding: 0 0 20px;
  margin-top: 15px;
}

.signup-box{
  background-color: #FFF;
  margin: 0 auto 35px;
  max-width: 360px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.social-signup{
  margin:0 0 13px 0;
}

.signup-fb,.signup-ggl,.signup-lnk{
  text-align: center;
  display: inline-block;
  width: 49%;
  border-radius: 3px;
  color: white;
  padding: 8px 0;
}

.signup-fb{
  background-color: #3b5998;
  border-color: #3b5998;
}

.signup-ggl{
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.signup-lnk{
  background-color: #1b86bc;
  border-color: #1b86bc;
}

.signup-line{
  border-bottom: 1px solid #dddddd;
  text-align: center;
  height: 14px;
  margin-bottom: 24px;
}

.signup-line span{
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 0 5px;
}

.signup-footer{
  background-color: #eeeeee;
  font-size: 0.7em;
  text-align: center;
  margin: 20px -20px -20px -20px;
  padding: 10px 20px 13px 20px;
  border-top: 1px solid #dddddd;
  border-radius: 0 0 5px 5px;
}

.signup-link {
  color: #1abc9c;
}

.signup-footer p{
  font-size: 0.9em;
}

.signup-validate-div{
  width: 100%;
  border: 1px solid red;
  font-size: 0.7em;
  padding: 5px;
  margin: 10px 0 20px 0;
  display: block;
}
.signup-validate-div-hidden{
  display: none;
}

.signup-imput-ok{
  border: solid 1px #46a74e !important;
  background: url(../img/form-ok.png) 97% no-repeat #ddf9e1;
}

/* End of SignUp Form */

/* faq styles */

.questions {
    padding: 1em;
    margin: 1em;
}

.accordionFaq {
    color: blue;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    background: rgba(26,188,156,0.6);
}

.accordionFaq.active {
    background-color: #1abc9c;
}

.accordionFaq:hover {
    background-color: #1abc9c;
}

.panel {
    overflow: hidden;
    max-height: 0;
    transition: 0.4s ease-in-out;
    opacity: 0;
    border-radius: 15px;
    outline: none;
    background: rgba(26,188,156,0.6);
}

.panel.show {
    opacity: 1;
    max-height: 500px;
}

.questions-and-answers {
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    width: 95%;
    display: inline-block;
}


.questions-and-answers button {
    font-size: 2.2em;
    color: black;
    font-weight: bold;
    margin-bottom: 0.3em;
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    outline: none;
}


.questions-and-answers p {
    font-size: 1.8em;
    padding: 0.5em;
}
/* End of faq styles */


/* Start of LogIn Form */
.login-menu{
  overflow: hidden;
  font-size: 0.7em;
  margin: 0 auto 15px;
}

.login-menu p {
  display: inline-block;
}

.login-remember{
  float: left;
}

.login-forgot{
  float: right;
}
/* End of LogIn Form */

.main-footer {
  padding: 0 20px;
  text-align: center;
  width: 100%;
  position:absolute;
	bottom:0;
	left:0;
  color: #fff;
}

.main-footer-icons {
  font-size: 2.5em;
  text-align: right;
}

.main-footer-icons i, .main-footer-copyright {
  padding: 10px;
}

.main-footer-icons i {
  padding-right: 10px;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer-copyright {
  font-size: 2em;
}

.footer-right {
  float: right;
  padding-top: 10px;
  margin-right: 60px;
}

.footer-links {
  float: left;
  font-size: 1.6em;
  margin-top: 10px;
  margin-left: 40px;

}

.footer-links ul {
  margin-top: 10px;
  list-style: none;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-logo {
  width: 120px;
  float: left;
  opacity: 0.5;
  margin: 10px 0 0 35px;
}

.footer-pipe {
  margin-right:8px;
}

/* Media Screen resizes */

@media (max-width: 900px){
  .home-title {
    font-size: 4.3em;
    padding-bottom: 20px;
  }

  .super-logo {
    width: 31.32%;
    margin: 5px 1%;
    float: left;
  }

  .labels-div {
    width: 100%;
    padding: 0;
  }

  .button {
    width: 50%;
  }

  .faq-title {
    font-size: 4.3em;
    margin-top: 0em;
  }

/*.preguntas-y-respuestas {*/
    /*margin-top: 0;*/
    /*margin-bottom: 1em;*/
/*}*/

  .signup-title {
    font-size: 4.3em;
    /*padding-bottom: 20px;*/
    padding: 0;
    margin: 28px 0 10px 0;
  }

  .signup-subtitle {
    font-size: 2.5em;
    padding-bottom: 10px;
  }

  .home-main-container {
    padding: 30px 0;
  }

  .location-form {
    width: 98%;
  }

  .location-form button{
    float: none;
    display: block;
    clear: both;
    margin: auto;
  }

  .location-form label{
    display: inline-block;
    margin: 0 auto 20px;
    float: none;
  }
}

@media (max-width: 767px) {
  .logo {
    width: auto;
    height: 70px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .avatar {
    top: 0;
  }
}

@media (max-width: 627px) {
  .super-logo {
    width: 48%;
    margin: 5px 1%;
    float: left;
  }
}

@media (max-width: 850px) {
  .main-footer-icons, .main-footer-copyright {
    float: none;
    text-align:left;
  }

  .footer-right {
    margin-right: 0px;
    float: right;
  }

  .main-footer {
    padding: 0 10px;
  }

  .main-container-bg-site, .main-container-bg {
  padding-bottom: 170px;
  }

  .footer-pipe {
    display:none;
  }

  .footer-links {
    margin-left: -30px;
  }

  .footer-links ul li {
    display: block;
    text-align: left;
  }

  .footer-logo {
    display:none;
  }
}

@media (max-width: 455px) {
  .footer-right {
    float:left;
  }
}

@media (max-width: 360px){
  .button button {
    font-size: 0.8em;
  }

  .signup-box{
    margin: 0 25px 35px;
  }

  .signup-text-box{
    margin: -15px 1px 0;
  }

  .signup-fb, .signup-ggl, .signup-lnk{
    width: 100%;
  }

  .login-remember{
    margin-bottom: 10px;
  }

  .login-forgot{
    float: left;
  }
}
