@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  min-width: 320px;
}

.logo {
  padding: 18px 13px;
  width: 190px;
  position: absolute;
  top: -12px;
  z-index: 1000;
}

.dropdown>a {
  /*padding-right: 70px !important;*/
}
.dropdown-menu-2 {
  right: auto!important;
}

.avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 15px;
}

.avatar img {
  height: 40px;
  transform: translateX(-19%);
}

.navbar {
  border: none;
  margin: 0 0 15px 0;
  background: transparent;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.8em;
  text-transform: capitalize;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #8aecd8;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.cart-count {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  color: #1abc9c;
  font-weight: bold;
  font-family: 'Raleway';
  padding: 6px 0;
  position: absolute;
  top: 7px;
  right: 13px;
  font-size: 19px;
}

.fa-shopping-cart {
  padding-right: 42px;
}

.cart-list {
  font-size: 1.6em;
}

.main-map {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  margin-bottom: 50px;
}

.faq {
  margin-bottom: 0.5em;
}

.signup {
  padding-bottom: 20px;
}

.location-form {
  background: rgba(26, 188, 156, 0.5);
  display: inline-block;
  width: 95.8%;
  font-size: 2em;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 40px;
}

.location-form label {
  width: 100%;
  float: left;
  text-align: left;
  color: #fff;
}

.location-form input, .button button {
  width: 100%;
  color: #ccc;
}

.labels-div {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
  float: left;
}

.button {
  display: inline-block;
  width: 25%;
  padding: 10px;
  float: left;
}

.button button {
  height: 54px;
  border: none;
  border-radius: 3px;
  background-color: #f39c12;
  color: #fff;
}

.super-logo-container {
  width: 100%;
  overflow: hidden;
}

.super-logo {
  width: 21%;
  margin: 10px 2%;
  float: left;
}

.super-logo img {
  width: 100%;
}

.acc-profile-pic {
  width: 100%;
}

.h2-title {
  color:white;
}

.h2-title-mkt {
  color:white;
  margin-right: 4%;
}

.main-container {
  width:100%;
  height: 100vh;
  background-size: cover;
  text-align: center;
  position: relative;
}

.main-container-home {
  width:100%;
  height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}

.main-container-market {
  width:100%;
  height: 100%;
  background: url(/img/bg.jpg);
  text-align: center;
  background-size: cover;
  margin-bottom: 20px;
}

.black-overlay {
  background: linear-gradient(to bottom, rgba(0,0,0,0) -90%,rgba(0,0,0,0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) -90%,rgba(0,0,0,0.6) 100%);
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

.black-overlay-market {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) -90%,rgba(0,0,0,0.6) 100%);
  height:100%;
  padding-top: 5px;
}

.line-separator {
  width: 100%;
  border-top: 1px solid rgb(224, 224, 224);
  opacity: .56;
  margin: 10px 0 20px;
}

.market-list-group {
  margin-bottom: 20px;
}

.market-list-over {
  display: inline-block;
  width: 410px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px 4px 4px 4px;
  margin-right: 10px;
  background-color: rgb(238, 237, 237);
}

.market-list-over-div {
  float: left;
  height: 122px;
  position: relative;
  width: 124px;
  /*background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box border-box;*/
  background: rgba(138, 236, 216, 0.42) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(57, 57, 57);
  border-right: 1px solid rgb(224, 224, 224);
  border-bottom: 0px none rgb(57, 57, 57);
  border-left: 0px none rgb(57, 57, 57);
}

.market-list-over-img {
  text-size-adjust: 100%;
  width: 96px;
  border-radius: 50% 50% 50% 50%;
  font: normal normal normal normal 14px / 20px "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 21px;
}

.market-list-over-div2 {
  float: left;
  padding: 15px 0px 15px 30px;
}

.market-list-over-h3 {
  color: rgb(66, 66, 66);
  text-align: left;
  font: normal normal bold normal 18px / 22px "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px 0px 10px;
  text-transform: capitalize;
}

.market-list-over-p {
  color: rgb(57, 57, 57);
  text-align: left;
  font: normal normal normal normal 14px / 20px "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

.div-markets-small-container2 {
  height: 110px;
  width: 110px;
  margin: 6px 0px 0 7px;
  border-radius: 50%;
  border: 2px solid rgb(239, 239, 239);
}

.div-markets-small-container3 {
  height: 50px;
  width: 50px;
  margin: 6px 0px 0 7px;
  border-radius: 50%;
  border: 2px solid rgb(239, 239, 239);
  display: inline-block;
  position: relative;
  top: -13px;
  right: 10px;
}

.icon-instructions{
  display: inline-block;
  color: rgba(244, 244, 244, 0.89);
  font-size: 1.3em;
  margin: 10px 30px 0 0;
}

.instructions {
  margin-bottom: 10px;
}

.product-list-img {
  width: 190px;
}

.item-card {
  display: inline-block;
  width: 206px;
  height: 265px;
  background: #fff;
  border: 1px solid #e5edec;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

/* Modal start */

.modal-index {
  top:auto;
  bottom:auto;
}

.modal-dialog-index {
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 6px;
}

.modal-header-index {
  background: #e4e4e4;
  border-color: #d4d4d4;
  border-radius: 3px;
}

.modal-message {
  text-align: left;
}

.modal-title-2 {
  margin: -31px 0 0 68px;
}

.text-free {
  color:#43B02A;
  font-weight:bold;
}

.img-markets-small {
  margin-top: 13px;
  width: 80px;
  border-radius: 100%;
}

.img-markets-small2 {
  margin-top: 11px;
  width: 35px;
  border-radius: 100%;
}

.img-markets-small-container {
    margin-top: 23px;
    width: 120px;
    border-radius: 100%;
}

.div-markets-small {
  display: inline-block;
  height: 80px;
  text-align: center;
  margin: 7px 10px;
  border-radius: 50%;
  border: 2px solid rgb(239, 239, 239);
}

.div-markets-small-container {
    display: inline-block;
    height: 130px;
    width: 130px;
    text-align: center;
    margin: 7px 10px;
    border-radius: 50%;
    border: 2px solid rgb(239, 239, 239);
}

.locations-cont {
  font-size:1.9em;
  display:inline-block;
  margin: 15px 0 25px 0;
  color:white;
}

.modal-jumbo {
  background-color: #019b67;
}

.modal-coto {
  background-color: #fd0a02;
}

.modal-disco {
  background-color: #ffffff;
}

.modal-walmart {
  background-color: #004f8f;
}

.modal-p {
  margin-top: 10px;
  margin-bottom: auto;
  text-align: right;
}

/* End modal */

/* GOOGLE MAP START */
#map {
  margin: 0;
  padding: 0;
  height: 680px;
  max-width: none;
}
#map img {
  max-width: none !important;
}
.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(26, 188, 156, 1);
  border-radius: 2px 2px 10px 10px;
}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: rgba(26, 188, 156, 1);
  color: white;
  margin: 0;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}
.iw-title {
  text-transform: capitalize;
}
.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
/* GOOGLE MAP END */

/* Start of SignUp Form */
.signup-form input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea{
  font-weight: lighter;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 2px rgba(204,204,204,.3) inset;
  box-shadow: 1px 2px 2px rgba(204,204,204,.3) inset;
  padding: 9px 7px;
  width: 100%;
  font-size: 0.75em;
}

fieldset{
  border: none;
  padding: 0;
}

.signup-main-container{
  margin: auto;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.signup-subtitle {
  font-size: 3em;
  color: #1abc9c;
  padding-bottom: 20px;
  text-shadow: 0px 1px #34495e;
}

.signup-form ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.signup-form ul li{
  margin-bottom: 20px;
}

.signup-form button{
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  background-color: #f39c12;
  color: #fff;
}

.signup-text-box{
  text-align: center;
  padding: 0 0 20px;
}

.signup-box{
  background-color: #FFF;
  margin: 0 auto 35px;
  max-width: 360px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.social-signup{
  margin:0 0 13px 0;
}

.signup-fb,.signup-ggl,.signup-lnk{
  text-align: center;
  display: inline-block;
  width: 49%;
  border-radius: 3px;
  color: white;
  padding: 8px 0;
}

.signup-fb{
  background-color: #3b5998;
  border-color: #3b5998;
}

.signup-ggl{
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.signup-lnk{
  background-color: #1b86bc;
  border-color: #1b86bc;
}

.signup-line{
  border-bottom: 1px solid #dddddd;
  text-align: center;
  height: 14px;
  margin-bottom: 24px;
}

.signup-line span{
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 0 5px;
}

.signup-footer{
  background-color: #eeeeee;
  font-size: 0.7em;
  text-align: center;
  margin: 20px -20px -20px -20px;
  padding: 10px 20px 13px 20px;
  border-top: 1px solid #dddddd;
  border-radius: 0 0 5px 5px;
}

.signup-link {
  color: #1abc9c;
}

.signup-footer p{
  font-size: 0.9em;
}

.signup-validate-div{
  width: 100%;
  border: 1px solid red;
  font-size: 0.7em;
  padding: 5px;
  margin: 10px 0 20px 0;
  display: block;
}
.signup-validate-div-hidden{
  display: none;
}

.signup-imput-ok{
  border: solid 1px #46a74e !important;
  background: url(../img/form-ok.png) 97% no-repeat #ddf9e1;
}
/* End of Signup Form */


/* FAQ Styles */
.questions {
    padding: 1em;
    margin: 1em;
}

.accordionFaq {
    color: blue;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    background: rgba(26,188,156,0.6);
}

.accordionFaq.active {
    background-color: #1abc9c;
}

.accordionFaq:hover {
    background-color: #1abc9c;
}

.panel {
    overflow: hidden;
    max-height: 0;
    transition: 0.4s ease-in-out;
    opacity: 0;
    border-radius: 15px;
    outline: none;
    background: rgba(26,188,156,0.6);
}

.panel.show {
    opacity: 1;
    max-height: 500px;
}

.questions-and-answers {
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    width: 95%;
    display: inline-block;
}

.questions-and-answers button {
    font-size: 2.2em;
    color: black;
    font-weight: bold;
    margin-bottom: 0.3em;
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    outline: none;
}

.questions-and-answers p {
    font-size: 1.8em;
    padding: 0.5em;
}
/* End of FAQ Styles */


/* Start of Login Form */
.login-menu{
  overflow: hidden;
  font-size: 0.7em;
  margin: 0 auto 15px;
}

.login-menu p {
  display: inline-block;
}

.login-remember{
  float: left;
}

.login-forgot{
  float: right;
}
/* End of Login Form */


/* Footer */
.main-footer {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  color: #fff;
  background: transparent;
}

.main-footer-icons {
  font-size: 2.5em;
  text-align: right;
}

.main-footer-icons i, .main-footer-copyright {
  padding: 10px;
}

.main-footer-icons i {
  padding-right: 10px;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}
.main-footer a:hover {
  color: #8aecd8;
}

.main-footer-copyright {
  font-size: 2em;
}

.footer-right {
  text-align: right;
  padding-top: 10px;
  margin-right: 60px;
}

.footer-links {
  float: left;
  font-size: 1.6em;
  margin-top: 10px;
  margin-left: 40px;

}

.footer-links ul {
  margin-top: 10px;
  list-style: none;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-logo {
  width: 120px;
  float: left;
  opacity: 0.5;
  margin: 10px 0 0 35px;
}

.footer-pipe {
  margin-right:8px;
}

.clear {
  margin-top: 150px;
}


/* LOADER*/
.loader-overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
}

.loader-container {
  margin-top: 15%;
  text-align: center;
}

.loader-container span {
  color: white;
  font-size: 70px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1abc9c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/****************************** Media Screen resizes ******************************/
/****************************** Media Screen resizes ******************************/
/****************************** Media Screen resizes ******************************/
/****************************** Media Screen resizes ******************************/
/****************************** Media Screen resizes ******************************/
/****************************** Media Screen resizes ******************************/

/*@media (max-width: 1500px){*/
  .main-container-home {
  height: 100%;
  min-height: 100vh;
  }
  .main-container {
  height: 100%;
  min-height: 100vh;
  }
  .black-overlay {
    height: 100%;
    min-height: 100vh;
  }
  .main-footer{
    /*position: static;*/
  }
/*}*/

@media (max-width: 900px){
  .home-title {
    font-size: 4.3em;
    padding-bottom: 20px;
  }
  .super-logo {
    width: 31.32%;
    margin: 5px 1%;
    float: left;
  }
  .labels-div {
    width: 100%;
    padding: 0;
  }
  .button {
    width: 50%;
  }
  .faq-title {
    font-size: 4.3em;
    margin-top: 0em;
  }
  .signup-title {
    font-size: 4.3em;
    padding: 0;
    margin: 28px 0 10px 0;
  }
  .signup-subtitle {
    font-size: 2.5em;
    padding-bottom: 10px;
  }
  .location-form {
    width: 98%;
  }
  .location-form button{
    float: none;
    display: block;
    clear: both;
    margin: auto;
  }
  .location-form label{
    display: inline-block;
    margin: 0 auto 20px;
    float: none;
  }
  .modal-index {
    top: 0;
  }
}

@media (max-width: 850px) {
  .main-footer-icons, .main-footer-copyright {
    float: none;
    font-size: 1.6em;
  }

  .footer-right {
    margin-right: 0px;
  }

  .main-footer {
    padding: 0 10px;
    /*position: static;*/
  }

  .footer-pipe {
    display:none;
  }

  .footer-links {
    margin-left: -30px;
  }

  .footer-links ul li {
    display: block;
    text-align: left;
  }

  .footer-logo {
    display:none;
  }

  .main-map {
    margin-bottom: 30px;
  }

  .h2-title {
    font-size: 2.3em;
  }
  .h2-title-mkt {
    margin: 0;
    font-size: 2.3em;
    margin-right: 4%;

  }
}

@media (max-width: 767px) {
  .logo {
    width: auto;
    height: 70px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
  .avatar {
    top: 0;
  }
  .cart-count {
    top: 2px;
  }
}

@media (max-width: 627px) {
  .super-logo {
    width: 48%;
    margin: 5px 1%;
    float: left;
  }
  .market-list-over{
    margin-right: 0;
    width: 400px;
  }
  .market-list-over-div2 {
    padding: 15px 0px 15px 4px;
  }
}

@media (max-width: 380px){
  .market-list-over{
    width: 360px;
  }
}

@media (max-width: 360px){
  .button button {
    font-size: 0.8em;
  }
  .signup-box{
    margin: 0 25px 35px;
  }
  .signup-text-box{
    margin: -15px 1px 0;
  }
  .signup-fb, .signup-ggl, .signup-lnk{
    width: 100%;
  }
  .login-remember{
    margin-bottom: 10px;
  }
  .login-forgot{
    float: left;
  }
}
